<div class="login-wrap">
  <div class="login-html">
    <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
    <input id="tab-2" type="radio" name="tab" class="sign-up" ><label for="tab-2" class="tab"><a [routerLink]="['/register']">Sign Up</a></label>
    <div class="login-form">
      <div class="sign-in-htm">
        <form (ngSubmit)="onSubmit()">
          <div class="group">
            <label for="user" class="label">Email</label>
            <input type="text" name="email" [(ngModel)]="user.email" class="input" id="exampleInputemail"
            placeholder="Enter email">
          </div>
          <div class="group">
            <label for="pass" class="label">Password</label>
            
            <input type="password" name="password" [(ngModel)]="user.password" class="input"
            id="exampleInputpassword" placeholder="Enter password">
          </div>

          <div class="group">
            <input type="submit" class="button" value="Sign In">
          </div>
          <div class="hr">
            <div class="foot-lnk">
              <a href="#forgot">Forgot Password?</a>
            </div>
          </div>

        </form>
        </div>
      </div>
  </div>
</div>
