<nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Herfa</a>
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="logout()" >Sign out</a>
      </li>
      <!-- <li class="nav-item text-nowrap">
        
        <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Sign In</a>
        <a class="nav-link" [routerLink]="['/register']" [routerLinkActive]="['active']">Sign Up</a>
       </li> -->
    </ul>
  </nav>

  <div class="container-fluid">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/dashboard']" [routerLinkActive]="['active']">
                <i class="fa fa-home"></i>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
          
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['../admin/dashboard']" [routerLinkActive]="['active']">
                  <i class="fa fa-home"></i>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <!--  -->
            <li *ngIf="auth[0] =='admin' || auth[0] =='inv'" class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/users']" [routerLinkActive]="['active']">
                <i class="nav-icon fas fa-users-cog"></i>
                Users
              </a>
            </li>
            <!--  -->
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/courses']" [routerLinkActive]="['active']">
                <i class="fa fa-box"></i>
                Courses
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/products']" [routerLinkActive]="['active']">
                <i class="fa fa-box"></i>
                Products
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/events']" [routerLinkActive]="['active']">
                <i class="fa fa-box"></i>
                Events
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/categories']" [routerLinkActive]="['active']">
                <i class="fa fa-box"></i>
                Category
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-chart-line"></i>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['../admin/users']" [routerLinkActive]="['active']">
                <i class="fa fa-box"></i>
                Users
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <router-outlet></router-outlet>
      </main>
    </div>

  </div>
  
