div.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* text-align: center; */
}
.team{
    background-color: #f2f3f7;
}
h1{
    color:#253e6e;
    text-shadow: 2px 2px 4px #41414eee;
}