  <h2 class="text-center m-2"> Team Information </h2>
  <section class="p-3 m-2" id="about">
        <!-- <div class="w-100">
            <div class="card-columns"> -->
    
                    <!-- Card -->
    <!-- <div class="card testimonial-card"> -->
      
     <!-- <div >  -->
    <!-- ========================== hager ======================      -->
         <div class="container ">
           <div class="row-2">
         <div class="col-sm-4 mx-auto">
      <div class="card " >
      <div class="card-body">
    
      <!-- Avatar -->
      <div class="avatar white text-center m-2">
          <img src="assets/img/hager.png" class="img-fluid"
          alt="course avatar" class="rounded-circle" height="200px" width="200px">
      </div>
    
      <!-- Content -->
     
        <!-- Name -->
        <h2 class="card-title text-center">Hager Mohamed Abdou </h2>
        <hr>
        
        <div class="" style="background-color: rgba(42, 215, 215, 0.295) ;">
    <p class="text-dark card-text"><i class="fab fa-linkedin fa-2x"></i><a href='https://www.linkedin.com/in/hager-mohamed-710086182/' class="text-dark"> LinkedIn : https://www.linkedin.com/in/hager-mohamed-710086182/  </a></p>
    <p class="text-dark card-text"><i class="fab fa-github-square fa-2x"></i><a href='https://github.com/Hager75' class="text-dark"> Git Hub : https://github.com/Hager75 </a></p>
    <p class="text-dark card-text"><i class="fas fa-envelope fa-2x"></i> Email : hager_m75@yahoo.com</p>
    <p class="text-dark card-text"><i class="fas fa-phone-square-alt fa-2x"></i>Phone : +20 128 915 0190 </p>
      </div>

    
      </div>
      </div>
        <!-- Quotation -->
      </div>
      <!-- ======================================================================== -->
        <!-- ======================= attia ============================= -->

      <div class="col-sm-4 mx-auto">
        <div class="card" >
        <div class="card-body">
      
        <!-- Avatar -->
        <div class="avatar white text-center m-2">
            <img src="assets/img/attia.jpeg" class="img-fluid"
            alt="course avatar" class="rounded-circle" height="200px" width="200px">
        </div>
      
        <!-- Content -->
       
          <!-- Name -->
          <h2 class="card-title text-center"> Mohamed Ahmed Attia </h2>
          <hr>
          
          <div class="" style="background-color: rgba(42, 215, 215, 0.295) ;">
      <p class="text-dark card-text"><i class="fab fa-linkedin fa-2x"></i><a href='https://www.linkedin.com/in/mohamed-attia-6536b71a3/' class="text-dark"> LinkedIn : https://www.linkedin.com/in/mohamed-attia-6536b71a3/  </a></p>
      <p class="text-dark card-text"><i class="fab fa-github-square fa-2x"></i><a href='https://github.com/MohamedAttia404' class="text-dark"> Git Hub : https://github.com/MohamedAttia404 </a></p>
      <p class="text-dark card-text"><i class="fas fa-envelope fa-2x"></i> Email : mohamedahmed4362@gmail.com</p>
      <p class="text-dark card-text"><i class="fas fa-phone-square-alt fa-2x"></i>Phone : +20 128 220 5369 </p>
        </div>
  
      
        </div>
        </div>
          <!-- Quotation -->
        </div>
    <!-- </div> -->
   

        <!-- ========================================================= -->
        <!-- ============================ amira ====================  -->
      <div class="row-2 mx-auto">
        <div class="col-sm-4 mx-auto">
            <div class="card " >
            <div class="card-body">
          
            <!-- Avatar -->
            <div class="avatar white text-center m-2">
                <img src="assets/img/amira.jpeg" class="img-fluid"
                alt="course avatar" class="rounded-circle" height="200px" width="200px">
            </div>
          
            <!-- Content -->
           
              <!-- Name -->
              <h2 class="card-title text-center">Amira Abdelhalim
            </h2>
              <hr>
              
              <div class="" style="background-color: rgba(42, 215, 215, 0.295) ;">
          <p class="text-dark card-text"><i class="fab fa-linkedin fa-2x"></i><a href='https://www.linkedin.com/in/amira-abdelhalim-3a21a31a4/' class="text-dark"> LinkedIn : https://www.linkedin.com/in/amira-abdelhalim-3a21a31a4/  </a></p>
          <p class="text-dark card-text"><i class="fab fa-github-square fa-2x"></i><a href='https://github.com/AmiraAbdelhalim' class="text-dark"> Git Hub : https://github.com/AmiraAbdelhalim </a></p>
          <p class="text-dark card-text"><i class="fas fa-envelope fa-2x"></i> Email : hager_m75@yahoo.com</p>
          <p class="text-dark card-text"><i class="fas fa-phone-square-alt fa-2x"></i>Phone : +20 122 601 2085 </p>
            </div>
      
          
            </div>
            </div>
              <!-- Quotation -->
            </div>
            <!-- ======================================================= -->
            <!-- ============================ tarek =================== -->
            <div class="col-sm-4 mx-auto ">
                <div class="card" >
                <div class="card-body">
              
                <!-- Avatar -->
                <div class="avatar white text-center m-2">
                    <img src="assets/img/tarek.png" class="img-fluid"
                    alt="course avatar" class="rounded-circle" height="200px" width="200px">
                </div>
              
                <!-- Content -->
               
                  <!-- Name -->
                  <h2 class="card-title text-center">Tarek Hassan </h2>
                  <hr>
                  
                  <div class="" style="background-color: rgba(42, 215, 215, 0.295) ;">
              <p class="text-dark card-text"><i class="fab fa-linkedin fa-2x"></i><a href='https://www.linkedin.com/in/tarekhassanahmed/' class="text-dark"> LinkedIn : https://www.linkedin.com/in/tarekhassanahmed/  </a></p>
              <p class="text-dark card-text"><i class="fab fa-github-square fa-2x"></i><a href='https://github.com/Tarek-Hassan' class="text-dark"> Git Hub : https://github.com/Tarek-Hassan </a></p>
              <p class="text-dark card-text"><i class="fas fa-envelope fa-2x"></i> Email : tarek446240@gmail.com</p>
              <p class="text-dark card-text"><i class="fas fa-phone-square-alt fa-2x"></i>Phone : +20 115 921 0722 </p>
                </div>
          
              
                </div>
                </div>
                  <!-- Quotation -->
                </div>
            </div>     
    </div>
         </div>
    <!-- </div>
    
                   
            </div>
        </div> -->
    </section>
    
    
    
    