<section>
  <div class="container">
    <div class='col-sm-12'>

      <div class="login-wrap">
        <div class="login-html">
          <div class="text-center ">
            <img src="assets/img/features-12.png" class="img-fluid mb-5" height="550px" width="350px">
          </div>
          <input id="tab-1" type="radio" name="tab" class="sign-in">
          <label for="tab-1" class="tab"><a [routerLink]="['/login']"><span> <i class="fas fa-sign-in-alt"></i></span>
              Sign In</a></label>
          <input id="tab-2" type="radio" name="tab" class="sign-up" checked><label for="tab-2" class="tab"><span> <i
                class="fas fa-user-plus"></i></span> Sign Up</label>
          <div class="login-form">
            <!-- <div class="container">
        <div class="col-s-12"> -->
            <div class="sign-up-htm">
              <form [formGroup]="uploadForm" (ngSubmit)="onSubmit()">

                <div class="row">


                  <div class="col-md-6  form-group">
                    <label for="user" class=" font-weight-bold h6"><span><i class="fas fa-user"></i></span> First
                      Name</label>
                    <input type="text" class="form-control" id="first_name" autofocus placeholder="First Name"
                     name="first_name" formControlName="first_name"
                      [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.first_name.errors }">


                    <div *ngIf="submitted &amp;&amp; uploadForm.controls.first_name.errors" class="text-danger">

                      <div *ngIf="uploadForm.controls.first_name.errors.required">First Name is required</div>
                      <div *ngIf="uploadForm.controls.first_name.errors.pattern" class="text-danger">First Name contains
                        only
                        letters and spaces</div>
                      <div *ngIf="uploadForm.controls.first_name?.errors.minLength" class="text-danger">First Name must
                        contain 3
                        characters at least</div>
                    </div>
                  </div>


                  <!--  -->
                  <div class="col-md-6  form-group">
                    <label for="user" class=" font-weight-bold h6"><span><i class="fas fa-user"></i></span> Last
                      Name</label>
                    <input type="text" class="form-control" formControlName="last_name" id="last_name" type="text"
                      autofocus placeholder="Last Name" name="last_name"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.last_name.errors }">
                      <div *ngIf="submitted &amp;&amp; uploadForm.controls.last_name.errors" class="text-danger">
                        <div *ngIf="uploadForm.controls.last_name.errors.required">Last Name is required</div>
                        <div *ngIf="uploadForm.controls.last_name.errors.pattern" class="text-danger">Last Name contains only letters
                          and spaces</div>
                        <div *ngIf="uploadForm.controls.last_name?.errors.minLength" class="text-danger">Last Name must contain 3
                          characters at least</div>
                      </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="user" class=" font-weight-bold h6"><span><i class="fas fa-envelope"></i></span>
                    Email</label>
                  <input type="text" name="email" formControlName="email" class="form-control" id="exampleInputemail"
                    placeholder="Enter email" [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.email.errors }">
                    <div *ngIf="submitted &amp;&amp; uploadForm.controls.email.errors" class="text-danger">
                      <div *ngIf="uploadForm.controls.email.errors.required">Email is required</div>
                      <div *ngIf="uploadForm.controls.email.errors.email">Email is not in correct formate </div>
                    </div>
                </div>
<!--  -->
                <div class="form-group">
                  <label for="pass" class=" font-weight-bold h6"><span><i class="fas fa-user-cog"></i></span>
                    Role</label>
                  <select class=" form-control" formControlName="role" name="role" [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.role.errors }">
                    <option value="0" class="form-control">user</option>
                    <option value="1" class="form-control">investor</option>
                  </select>
                  <div *ngIf="submitted &amp;&amp; uploadForm.controls.role.errors" class="text-danger">
                    <div *ngIf="uploadForm.controls.role.errors.required">Role is required</div>
                  </div>
                </div>

<!--  -->

                <div class="form-group">
                  <label for="pass" class=" font-weight-bold h6"><span><i class="fas fa-phone-alt"></i></span>
                    Mobile</label>
                  <input type="text" name="mobile" formControlName="mobile" class="form-control"
                    id="exampleInputMobile" placeholder="Enter Mobile" [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.mobile.errors }">
                    <div *ngIf="submitted &amp;&amp; uploadForm.controls.mobile.errors" class="text-danger">
                      <div *ngIf="uploadForm.controls.mobile?.errors.pattern">Mobile is contains only number</div>
                      <div *ngIf="uploadForm.controls.mobile?.errors.maxLength">Mobile is contain only 14 number </div>
                    </div>
                </div>
            
                <div class="form-group">
                  <label for="pass" class=" font-weight-bold h6">National ID</label>
                  <input type="text" name="national_id" formControlName="national_id" class="form-control"
                    id="exampleInputnational" placeholder="Enter National_ID"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.national_id.errors }">
                    <div *ngIf="submitted &amp;&amp; uploadForm.controls.national_id.errors" class="text-danger">
                      <div *ngIf="uploadForm.controls.national_id?.errors.pattern">national_id is contains only number</div>
                      <div *ngIf="uploadForm.controls.national_id?.errors.maxLength">national_id is contain only 14 number </div>
                    </div>
                </div>
                
             


                <div class="form-group">
                  <label for="pass" class=" font-weight-bold h6"><span><i class="fas fa-lock"></i></span>
                    Password</label>

                  <input type="password" name="password" formControlName="password" class="form-control"
                    data-type="password" id="exampleInputpassword" placeholder="Enter password" [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.password.errors }">
                    <div *ngIf="submitted &amp;&amp; uploadForm.controls.password.errors" class="text-danger">
                      <div *ngIf="uploadForm.controls.password.errors.required">Password is required</div>
                      <div *ngIf="uploadForm.controls.password?.errors.minLength">Password more than 6</div>
                    </div>

                </div>
                <div class="form-group">
                  <label for="pass" class=" font-weight-bold h6"><span><i class="fas fa-lock"></i></span> Repeat
                    Password</label>
                  <input type="password" name="password_confirmation" formControlName="password_confirmation"
                    class="form-control" data-type="password" id="exampleInputpasswordssss" placeholder="Repeat password"  [ngClass]="{ 'is-invalid': submitted &amp;&amp; uploadForm.controls.password_confirmation.errors }">
                    <div *ngIf="submitted &amp;&amp; uploadForm.controls.password_confirmation.errors" class="text-danger">
                      <div *ngIf="uploadForm.controls.password_confirmation.errors.required">Password Confirmation is required</div>
                      <div *ngIf="uploadForm.controls.password_confirmation?.errors.minLength">Password Confirmation more than 6</div>
                    </div>
                </div>


                <div class="form-group text-center pt-3">
                  <input type="submit" class="btn  btn-lg btn-block text-white" id="btn-bootstrap" value="Sign Up">
                </div>
                <div class="hr">
                  <!-- <div class="foot-lnk">
                    <label for="tab-1" class="font-weight-bold h6"><a href="/login"> Already Member?</a></label>
                     <a href="/login"> Already</a> 
                  </div> -->
                </div>
              </form>
            </div>
            <!-- </div>
    </div> -->
          </div>
        </div>
      </div>


    </div>
  </div>
</section>
