<section class="resume-section p-3 p-lg-5 d-flex" id="about">
    <div class="w-100">
        <div class="card-columns">
            <ng-container *ngIf="items">
              <form [formGroup]="searchForm" >
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <button class="btn btn-success" type="button">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>
                    <input class="form-control" type="text" name="search" autocomplete="off">
                    <!-- <input formControlName="name" class="form-control" type="text" name="search" autocomplete="off"> -->
                    <div class="input-group-append">
                        <!-- <button class="btn btn-warning" type="button" id="button-addon2" (click)="search($event)">search</button> -->
                        <input type="button" class="btn btn-warning" type="button" id="button-addon2" (click)="search($event)">
                    </div>
                </div>
              </form>
              <!-- <ng-template [ngIf]="heroes" [ngIfElse]="loading"> -->
                <div *ngIf="!flag; else flag">
                  <!-- <ng-template #thenBlock> -->
                <div class="card" *ngFor="let item of items">
                    <div class="card-body">
                        <h5 class="card-title">{{ item.name }} 
                            <!-- <a href="javascript:;" class="d-none"><i class="fa fa-edit"></i></a> -->
                        </h5>
                        <p class="card-text">{{ item.duration }}</p>
                        <p class="card-text">{{ item.start_date }}</p>
                        <p class="card-text">{{ item.end_date }}</p>
                        <p class="card-text">{{ item.group_limit }}</p>
                        <p class="card-text">{{ item.description }}</p>
                        <p class="card-text">{{ item.instructor_name }}</p>
                        <p class="card-text">{{ item.price }}</p>
                        
                    </div>
                </div>
                <ng-template #flag> 
                  <h1>search</h1>
              </ng-template> 
              </div>
                </ng-container>
        </div>
    </div>
</section>


<!-- <div class="pricetable text-center">
  <div class="container">
      <h2 class="h1">Our Amazing Price</h2>
          <div class="row>">
              <div class="col-md-3 col-sm-6 col-xs-12" *ngFor="let item of items">
                  <div class="pricebox wow fadeInDown" data-wow-duration="2s" data-wow-offset="200">
                      <h2 class="text-primary">{{ item.name }}</h2>
                      <p class="center-block">{{ item.price }}</p>
                      <ul class="list-unstyled">
                          <li>{{ item.duration }}</li>
                          <li>{{ item.start_date }}</li>
                          <li>{{ item.end_date }}</li>
                          <li>{{ item.group_limit }}</li>
                          <li>{{ item.description }}</li>
                          <li>{{ item.instructor_name }}</li>
                          <a href="#" class="btn btn-primary">Buy</a>
                        </ul>
                  </div>
              </div>
                                            
          </div>
          
  </div>
</div> -->

 <div class="container">
    <div class="row justify-content-center" id ="btn">
        <button type="button" class="btn btn-outline-info"  (click) ="previousPage()"> Previous</button>
        <button type="button" class="btn btn-outline-info"  (click) ="nextPage()" > Next</button>
    </div>
</div>

<!--
<div class="container text-center">
    <h1>{{title}}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search" [(ngModel)]="course.name" autocomplete="off" placeholder="&#61442;  Start searching for a hero by id or name or country">
      </div>
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let hero of heroes | filter:searchText">
          <td>{{hero.id}}</td>
          <td>{{hero.name}}</td> 
        </tr>
        </tbody>
      </table>
    </div>
  </div> -->