<!-- <div class="alert alert-success"> user Layout </div> -->
<!-- <views-header></views-header> -->
<!-- <posts-header></posts-header> -->
<!-- <router-outlet></router-outlet> -->
<header>
<div class="in-pages">
    <nav class="navbar navbar-expand-lg navbar-dark " id="sideNav">
        <a class="navbar-band js-scroll-trigger" href="#page-top">
            <img src="" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
          <!-- ================herfa logo============= -->
          <a class="nav-link js-scroll-trigger" [routerLink]="['../user/dashboard']" [routerLinkActive]="['active']" id="navbar-items">  <span class="text-white"><img src="assets/img/lo.png" class="img-fluid m-0" height="19px"
            width="32px">erfa</span></a>

            <!-- ================end of logo code ======== -->
            <ul class="navbar-nav">
                <!-- <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/dashboard']" [routerLinkActive]="['active']" id="navbar-items"> <span><i class="fas fa-home"></i></span> Home</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/courses']" [routerLinkActive]="['active']"id="navbar-items"><span><i class="fas fa-chalkboard-teacher"></i> </span> Courses</a>
                </li>
                <!-- <li class="nav-item inline">
                    <i class="fas fa-shopping-cart"></i>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/products']" [routerLinkActive]="['active']"><span> <i class="fas fa-shopping-cart " ></i> </span>  Products </a>
                               
                </li>
               
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/category']" [routerLinkActive]="['active']"><span> <i class="fas fa-grip-horizontal"></i></span> Category</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/user/posts']"  routerLinkActive="active"> <span><i class="fas fa-mail-bulk"></i></span> Posts</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" [routerLink]="['../user/events']" [routerLinkActive]="['active']"><span> <i class="fas fa-calendar-week"></i> </span>  Events </a>
                                   
                    </li>
                  
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/admin']"  routerLinkActive="active"><span><i class="fas fa-users-cog"></i></span> Admin</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/admin']"  routerLinkActive="active"><span><i class="fas fa-user"></i></span> Profile</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['../user/aboutus']"  routerLinkActive="active"><span><i class="fas fa-users"></i></span> About us</a>
                      </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#"> <span><i class="fas fa-sign-out-alt"></i></span> logout</a>
                </li>
            </ul>
        
        </div>
    </nav>


    <div class="container-fluid p-0">
      <router-outlet></router-outlet>
  </div>

  </div>





    
    <!-- Start Nav Bar -->
<!-- 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link js-scroll-trigger" [routerLink]="['../user/dashboard']" [routerLinkActive]="['active']">Herfa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" [routerLink]="['../user/courseview']" [routerLinkActive]="['active']">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" [routerLink]="['../user/products']" [routerLinkActive]="['active']">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="['../user/category']" [routerLinkActive]="['active']">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user/posts']"  routerLinkActive="active">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="['../user/event']" [routerLinkActive]="['active']">Event</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->
    
  <!-- End Nav Bar -->
<!-- Start section Feature -->
<!-- 
<section class="feature text-center">
    <div class="container">
      <h2 class="h1">Our Feature </h2>
        <div class="row">
            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-ok"></span>
                <h4>100% Responsive</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem</p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInUp" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <h4>Retina Ready</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem </p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInDown" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-eye-open"></span>
                <h4>Awesome Display</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem</p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInRight" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-pencil"></span>
                <h4>Well Decumented</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem</p>
            </div>
            </div>
        

        </div>
        </div>
    
</section> -->

<!-- End section Feature -->

  
  
    <!-- <div class="container-fluid p-0">
        <router-outlet></router-outlet>
    </div>

</div> -->



<!-- End Section Price Table -->



</header>
<footer class="page-footer font-small mt-4 " style="background-color: #2b4880 ;">

    <!-- <div style="background-color: #6351ce;"> -->
        <div style="background-color: #7189b5 ;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-12 text-center ">
            <h3 class="mb-0 text-center">Get more information about Herfa !</h3>
     
          </div>
          <!-- Grid column -->
  
     
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
       
          <!-- Content -->
          <h4 class="text-uppercase font-weight-bold text-white">Herfa</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 60px ;">
          <p class="text-white">Herfa is a website connecting people all over the world who has the same passion for learing new and different skills , and buying rare materials and products.
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h4 class="text-uppercase font-weight-bold text-white">Our Team Member</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 150px;">
          <p class="text-white">
           Hager Mohamed Abdou
          </p>
          <p class="text-white">
            Mohamed Ahmed Attia
          </p>
          <p class="text-white">
           Amira Abdelhalim
          </p>
          <p class="text-white">
           Tarek Hassan 
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h4 class="text-uppercase font-weight-bold text-white">Useful links</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 110px;">
          <p>
            <a  class="text-white"[routerLink]="['../user/courses']" [routerLinkActive]="['active']">Our Courses</a>
          </p>
          <p>
            <a  class="text-white"[routerLink]="['../user/products']" [routerLinkActive]="['active']"> Our Products </a>
          </p>
          <p>
            <a  class="text-white"[routerLink]="['../user/aboutus']" [routerLinkActive]="['active']">About us</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <!-- <h4 class="text-uppercase font-weight-bold text-white">Contact</h4>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto " style="width: 70px;">
          <p class="text-white"><span><i class="fas fa-suitcase"></i></span>
             New York, NY 10012, US
          </p>
          <p class="text-white">
            <span><i class="fas fa-envelope"></i></span>
             info@example.com
          </p>
          <p class="text-white">
            <span><i class="fas fa-phone-alt"></i></span>
             + 01 234 567 88
          </p>
          <p class="text-white"><span><i class="fas fa-fax"></i></span> 
                     + 01 234 567 88
          </p>
   -->
   <img src="assets/img/hero.png" class="img-fluid mb-5">
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div style="background-color:#253e6e  ;">
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
      <a href="#" class='text-white'> Herfa.com</a>
    </div>
</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
<!-- <router-outlet></router-outlet> -->

<!-- <div class="in-pages">
  <div class="area"></div>
  <nav class="main-menu">
            <ul>
                <li>
                    <a href="http://justinfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           Quotes
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav> -->



    
