<!-- <div class="alert alert-success"> user Layout </div> -->
<!-- <views-header></views-header> -->
<!-- <posts-header></posts-header> -->
<!-- <router-outlet></router-outlet> -->



<!-- <p>howa daaaaaaaaaaaaaaaaaaa</p> -->
<div class="in-pages">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary" id="sideNav">
        <a class="navbar-band js-scroll-trigger" href="#page-top">
            <img src="" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/dashboard']" [routerLinkActive]="['active']">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/courses']" [routerLinkActive]="['active']">Courses</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/products']" [routerLinkActive]="['active']">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" [routerLink]="['../user/category']" [routerLinkActive]="['active']">Category</a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/user/posts']"  routerLinkActive="active">Posts</a>
                      </li>
                  
                      <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/admin']"  routerLinkActive="active">Admin</a>
                      </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#">logout</a>
                </li>
            </ul>
        </div>
    </nav>








    
    <!-- Start Nav Bar -->
<!-- 
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand nav-link js-scroll-trigger" [routerLink]="['../user/dashboard']" [routerLinkActive]="['active']">Herfa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>

        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link js-scroll-trigger" [routerLink]="['../user/courseview']" [routerLinkActive]="['active']">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" [routerLink]="['../user/products']" [routerLinkActive]="['active']">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="['../user/category']" [routerLinkActive]="['active']">Category</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/user/posts']"  routerLinkActive="active">Posts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" [routerLink]="['../user/event']" [routerLinkActive]="['active']">Event</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
      </nav> -->
    
  <!-- End Nav Bar -->
<!-- Start section Feature -->
<!-- 
<section class="feature text-center">
    <div class="container">
      <h2 class="h1">Our Feature </h2>
        <div class="row">
            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInLeft" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-ok"></span>
                <h4>100% Responsive</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem</p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInUp" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <h4>Retina Ready</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem </p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInDown" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-eye-open"></span>
                <h4>Awesome Display</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem</p>
            </div>
            </div>

            <div class="col-lg-3 col-md-6">

            <div class="feat wow bounceInRight" data-wow-duration="1s" data-wow-offset="300">
                <span class="glyphicon glyphicon-pencil"></span>
                <h4>Well Decumented</h4>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam pretium hendrerit facilisis. Ut hendrerit fermentum tincidunt. Quisque urna lorem</p>
            </div>
            </div>
        

        </div>
        </div>
    
</section> -->

<!-- End section Feature -->

  
  
    <!-- <div class="container-fluid p-0">
        <router-outlet></router-outlet>
    </div>

</div> -->



<!-- End Section Price Table -->


<!-- <router-outlet></router-outlet> -->

<!-- <div class="in-pages">
  <div class="area"></div>
  <nav class="main-menu">
            <ul>
                <li>
                    <a href="http://justinfarrow.com">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                  
                </li>
                <li class="has-subnav">
                    <a href="#">
                        <i class="fa fa-laptop fa-2x"></i>
                        <span class="nav-text">
                            Stars Components
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-list fa-2x"></i>
                        <span class="nav-text">
                            Forms
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-folder-open fa-2x"></i>
                        <span class="nav-text">
                            Pages
                        </span>
                    </a>
                   
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-bar-chart-o fa-2x"></i>
                        <span class="nav-text">
                            Graphs and Statistics
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fa fa-font fa-2x"></i>
                        <span class="nav-text">
                           Quotes
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                       <i class="fa fa-table fa-2x"></i>
                        <span class="nav-text">
                            Tables
                        </span>
                    </a>
                </li>
                <li>
                   <a href="#">
                        <i class="fa fa-map-marker fa-2x"></i>
                        <span class="nav-text">
                            Maps
                        </span>
                    </a>
                </li>
                <li>
                    <a href="#">
                       <i class="fa fa-info fa-2x"></i>
                        <span class="nav-text">
                            Documentation
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav> -->



        <div class="container-fluid p-0">
          <router-outlet></router-outlet>
      </div>

      </div>
